<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'login.css' %}?{% now 'U' %}">
    {% endblock %}
</head>
<body>
    <div id="login-form">
        <div id="login-form-header">
            <h1>Sign-In</h1>
        </div>
        <div id="form">
            <form class="form" action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                <div class="user-form">
                    <label>Username</label>
                    {{ form.username }}
                </div>
                <div class="user-form">
                    <label>Password</label>
                    {{ form.password }}
                </div>

                <div class="form-button">
                    <input type="submit" value="Log-in">
                </div>
            </form>
        </div>
        <span class="forgot-password"><a href="{% url 'user:forgot-password' %}">Forgot your Password?</a></span>
    </div>
</body>
</html>
