<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset your Password</title>
    <link rel="stylesheet" href="{% static 'password-rest-done.css' %}?{% now 'U' %}">
</head>
<body>
    <div id="reset-password-message">
        <h1>Reset your Password</h1>
        <p>We've emailed the instructions for resetting your password</p>
        <p>If you don't receive the email, please make sure you've entered the address you registered with!</p>
    </div>
</body>
</html>