body {
    padding: 0;
    height: 100%;
    background-color: #111111;
}

#password-reset {
    display: block;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 4rem 0;
    font-family: sans-serif;
}

#password-reset-header {
    color: whitesmoke;
}

.user-form {
    color: white;
    font-weight: bold;
}

.user-form input[type='email'] {
    color : whitesmoke;
}

.form-control {
    display: block;
    background-color: #121212;
    margin: 15px 0;
    border: whitesmoke solid 1px;
}

.form-control:hover {
    border: white solid 2px;
}

.form-button input {
    display: block;
    padding: 1rem;
    background-color: #1ed760;
    border-radius: 4rem;
    border: #1ed760 solid 1px;
    width: 100%;
    margin: 20px 0 32px 0;
}