body {
    padding: 0;
    height: 100%;
    background-color:  #111111;
    font-family: sans-serif;
}

#reset-complete-message {
    display: block;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 4rem 0;
}
h1, p{
    color: whitesmoke;
}

a {
    color: #1ed760;
}